---
import Card from "@components/base/Card.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
---

<div id="generate" class="w-full bg-muted-100 dark:bg-muted-100">
  <div class="bg-muted-100 dark:bg-muted-100">
    <form
      id="uploadForm"
      method="POST"
      class="grid grid-cols-12 ptablet:grid-cols-6"
      enctype="multipart/form-data"
    >
      <label
        class="col-start-1 col-span-6 block text-lg font-medium text-gray-900 dark:text-primary-500"
        for="originalPic">Загрузи свою картинку</label
      >
      <input
        class="file:bg-gradient-to-b file:from-purple-500 file:to-purple-600 file:px-8 file:py-3 file:m-2 file:border-none file:rounded-full file:text-white file:cursor-pointer file:shadow-md file:shadow-purple-500/50 col-start-1 col-span-6 text-sm text-gray-500"
        aria-describedby="file_input_help"
        id="originalPic"
        type="file"
        name="originalPic"
        accept="image/*"
        required
      />
      <p
        class="col-start-1 col-span-6 mt-1 text-xs text-gray-500 dark:text-gray-400"
        id="file_input_help"
      >
        SVG, PNG, JPG or GIF (MAX. 800x400px).
      </p>
      <label
        class="col-start-1 col-span-6 block text-lg font-medium text-gray-900 dark:text-primary-500"
        for="stylePic"
        >В каком стиле?
      </label>
      <input
        class="file:bg-gradient-to-b file:from-purple-500 file:to-purple-600 file:px-8 file:py-3 file:m-2 file:border-none file:rounded-full file:text-white file:cursor-pointer file:shadow-md file:shadow-purple-500/50 col-start-1 col-span-6 text-sm text-gray-500"
        aria-describedby="file_input_help"
        id="stylePic"
        type="file"
        name="stylePic"
        accept="image/*"
        required
      />
      <p
        class="col-start-1 col-span-6 mt-1 text-xs text-gray-500 dark:text-gray-400"
        id="file_input_help"
      >
        SVG, PNG, JPG or GIF (MAX. 800x400px).
      </p>
      <p class="col-start-1 col-span-4 text-xs mt-1">
        Выбери картинку, которую ты хочешь стилизовать и загрузи ее. Потом
        выбери художника или даже обычную картинку, в стиле которой ты хочешь
        отрисовать свою картинку. Загрузил? Нажми погнали. Наша нейронная сеть
        уже начала обработку...
      </p>
      <div class="col-start-1 col-span-3">
        <div class="flex flex-col space-y-2 p-2 w-80">
          <input
            id="steps-range"
            type="range"
            min="10"
            max="50"
            value="10"
            step="10"
            class="w-full accent-purple-300 col-start-1 col-span-6 w-full h-2 mt-4 bg-purple-200 rounded-lg cursor-pointer dark:bg-purple-200"
          />
          <ul class="flex justify-between w-full px-[10px]">
            <li class="flex justify-center relative">
              <span class="absolute">10</span>
            </li>
            <li class="flex justify-center relative">
              <span class="absolute">20</span>
            </li>
            <li class="flex justify-center relative">
              <span class="absolute">30</span>
            </li>
            <li class="flex justify-center relative">
              <span class="absolute">40</span>
            </li>
            <li class="flex justify-center relative">
              <span class="absolute">50</span>
            </li>
          </ul>
        </div>
      </div>
      <label
        for="steps-range"
        class="col-start-1 col-span-6 block text-sm mt-4 font-medium text-gray-900 dark:text-gray-400"
        >Сколько итераций?</label
      >

      <div class="col-start-1 col-span-4">
        <button
          id="generateBtn"
          class="bg-gradient-to-b from-purple-500 to-purple-600 px-8 py-3 m-2 border-none rounded-full text-white cursor-pointer shadow-md shadow-purple-500/50 col-start-1 col-span-6 text-sm text-gray-500"
          >Создать</button
        >
      </div>

      <div class="col-start-1 col-span-12 mt-4">
        <h2>Generated Image:</h2>
        <div class="relative overflow-hidden aspect-ratio-16/9">
          <img src="#" alt="Generated Image" id="generatedImage" />
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  // JavaScript code to display the generated image after submission
  document
    .querySelector("#generateBtn")
    .addEventListener("click", function (e) {
      e.preventDefault();
      const formData = new FormData(document.querySelector("#uploadForm"));

      fetch("http://45.147.179.195:2500/upload", {
        // Replace with your actual server address
        method: "POST",
        body: formData,
        //headers: {"Content-Type": "multipart/form-data",},
      })
        .then((response) => response.blob())
        .then((blob) => {
          const url = URL.createObjectURL(blob);
          document.querySelector("#generatedImage").src = url;
        })
        .catch((error) => console.error("Error:", error));
    });
</script>
